#copy to /etc/systemd/system/runcoldbot.service
#sudo systemctl enable runcoldbot.service
[Unit]
Description = coldbot

[Service]
ExecStart = /home/pi/ProjectColdBot/bot.py /mnt/hdd4/dump.json
# 再起動設定
Restart = always
Type = simple
User = pi
Group = pi


[Install]
WantedBy = multi-user.target
